node_modules

# Build outputs
.next
out

firebase-debug.log
firestore-debug.log

.env
.env.*
.env.local
.env.development
.env.production
.env.test

*.sqlite
*.db
*.sqlitedb
*.sqlite3
*.db3
*.db2
*.db-journal
*.sqlite-journal

*.pem
*.key
*.crt
*.der
*.p12
*.pfx
*.cer
*.jks
*.keystore

*.debug
*.pdb
*.map

localhost.*
*.local
*.dev
*.test
*.staging
*.production